/*  resize pngs in the figures folder  */
img[src*=".png"][src^="figures"]
 {
    max-width: 700px;
    vertical-align: middle;
    padding-left: 1em;
}

article ul, article ol {
    padding-left: 1em;
}

article ul ul, article ol ul {
    padding-left: 1em;
}

.figure .caption {
    font-size: 90%;
    font-style: italic;
    padding-left: 1em;
}