/*  lots of figures. update to general style  */

img[src*="figures/*.png"],
 {
    max-width: 700px;
    vertical-align: middle;
}

article ul, article ol {
    padding-left: 1em;
}

article ul ul, article ol ul {
    padding-left: 1em;
}

