img[src*="figures/create_ec2_instance.png"],
img[src*="figures/connect_to_instance.png"],
img[src*="figures/terminate_instance.png"], 
img[src*="figures/key_pair.png"] {
    max-width: 600px;
    vertical-align: middle;
}

article ul, article ol {
    padding-left: 1em;
}