pandoc
texlive-base
texlive-latex-base
texlive-latex-recommended
texlive-latex-extra
texlive-fonts-recommended
texlive-xetex
liblapack-dev
libboost-all-dev
openmpi-bin
libopenmpi-dev
libinsighttoolkit4-dev
libvtk7.1
libvtk7-dev
libvtkgdcm3.0
libgdcm-tools
cmake
lmodern
libarrayfire-dev
