# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x

# Liquid / Jekyll output
_site
*.tmd
*.rmd
_includes
_layouts
combined.md
combined.pdf
js
images
favicon*
indigo
indigo-jekyll-master/
master.zip
notes.pdf
*.html

*~
#
.jekyll-metadata
.jekyll-cache
06MPI/figures/efficient.png
06MPI/figures/inefficient.png
css/
notes.tex
.vscode/
.idea/

# Build folder.
build/
_local/
