/* 
* Utility name: States
* Use: Classes to be used only in JS 
* Note: It is a best practise to try to seperate classes used in JS and classes that style elements
-------------------------------------------------------------- */

.is-active {
	display: block;
}

.is-open {
	max-height: 40em;
	overflow: visible;
	opacity: 1;
	transition: all .5s;
}

.is-collapsed {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: all .5s;
}

.is-hidden {
	display: none;
}

.is-disabled {
	opacity: .8;
	text-decoration: line-through;
	cursor: not-allowed;
}