/* Breakpoints
-------------------------------------------------------------- */

$screen-xs: 480px;
$screen-sm: 620px;
$screen-md: 768px;
$screen-lg: 990px;
$screen-xl: 1050px;
$screen-xxl: 1180px;
$screen-xxxl: 1400px;