/* Image sizing
-------------------------------------------------------------- */

$image-max-width-sm: 200px;
$image-max-width-md: 400px;
$image-max-width-lg: 767px;
$image-max-width-xl: 989px;
$image-max-width-xxl: 1400px;