/* Z index values
-------------------------------------------------------------- */

$zindex-content: 1;
$zindex-tag: 1;
$zindex-brand: 1;
$zindex-header: 10;
$zindex-mobile-menu: 100;
$zindex-mobile-menu-back: 100;
