/* 
* Base name: Forms
* Note: N/A
-------------------------------------------------------------- */

// Reset fonts for relevant elements

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

// Normalize non-controls
//
// Restyle and baseline non-control form elements.

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	// Chrome and Firefox set a `min-width: min-content;` on fieldsets,
	// so we reset that to ensure it behaves more like a standard block element.
	// See https://github.com/twbs/bootstrap/issues/12359.
	min-width: 0;
}

legend {
	font-size: 1.25em;
	margin-bottom: 0.5em;
}

label {
	vertical-align: middle;
	max-width: 100%;
	// Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
	margin-bottom: .5em;
	.lt-ie8 & {
		vertical-align: auto;
	}
	@include inline-block;
	@include rem(font-size, $font-size-sm);
}

input {

	box-sizing: border-box;
	@include rem(font-size, $font-size-sm);
}

input[type=submit] {
	cursor: pointer;
}

input, select {
	outline: 0;
	&:focus {
		outline: 0;
	}
}

input:disabled {
	cursor: not-allowed;
}

// Search inputs in iOS
//
// This overrides the extra rounded corners on search inputs in iOS so that our
// `.form__control` class can properly style them. Note that this cannot simply
// be added to `.form__control` as it's not specific enough. For details, see
// https://github.com/twbs/bootstrap/issues/11586.

input[type="search"], textarea {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

input[type="checkbox"] + label, input[type="radio"] + label {
	display: inline;
	margin-left: 5px;
}

// Set the height of file controls to match text inputs
input[type="file"] {
	display: block;
	padding: 0;
}

// Make range inputs behave like textual form controls
input[type="range"] {
	display: block;
	width: 100%;
}

label {
	display: block;
	font-size: 0.9em;
	color: #494949;
	font-weight: 500;
}

fieldset abbr[title="Required"] {
	border-bottom: 0 none;
	color: #AF1616;
	font-size: 1.25em;
	font-weight: 400;
	line-height: 0.1;
}

textarea {
	padding-left: 2%;
	padding-right: 2%;
	resize: vertical;
}

select {
	width: 100%;
	margin-bottom: .5em;
}

form em {
	font-size: 0.8em;
	color: #848484;
}


/* Form fields
-------------------------------------------------------------- */

.form {}

/*
* Common form controls
* 
* Shared size and type resets for form controls. Apply `.form__control` to any
* of the following form controls:
* 
* select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"]
* input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"]
* input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
-------------------------------------------------------------- */
.form__control {
	padding: 0.5em 2%;
	vertical-align: middle;
	margin: 0;
	margin-bottom: .5em;
	border: 1px solid #ccc;
	color: #333;
	width: 100%;
	box-sizing: border-box;
	transition: border, .25s;
	&:focus {
		transition: border, .25s;
		border: 1px solid #666;
	}
}

/* 
* Form groups
* Designed to help with the organization and spacing of vertical forms.
-------------------------------------------------------------- */

.form__group {
	margin-bottom: $baseline;
	position: relative;
	@include guttering;
}

.form__group--inline, .form__group--prepend { 
	input {	
		padding-left: 0;
		padding-right: 0;
		@include gs-span(dc, 2, 4);
		@include gs-pad(dc, padin);
	}
}

.form__group--inline {
	label {
		text-align: right;
		line-height: 38px;
		@include gs-span(dc, 1);
		@include rem(font-size, $font-size-sm);
	}
	em {
		clear: left;
		@include gs-span(dc, 2, 4);
	}
}

.form__group--prepend {
	em {
		@include gs-span(dc, all);
	}
	span {
		margin-left: 1.51515%;
		color: #848484;
		text-align: right;
		line-height: 26px;
		margin-top: 5px;
		display: block;
		background-color: #eee;
		@include gs-span(dc, 1);
		@include gs-pad(dc, pad);
		@include rem(font-size, $font-size-sm);
	}
}

.form__group--options {
	legend {
		display: block;
		font-size: 0.9em;
		color: #494949;
		font-weight: 500;
	}
	ul {
		@include list-unstyled;
	}
}

input.error {
	background-color: $white;
	border: 1px solid #DD6868;
}

.error {
	color: #c60f13;
}
