{% macro cmakefrag(session, file, segment=False %}
``` cpp
{% if segment %}
{{d['session'+session+'/cpp/'+file+'/CMakeLists.txt|idio|t'][segment]}}
{% else %}
{{d['session'+session+'/cpp/'+file+'/CMakeLists.txt']}}
{% endif %}
```
{% endmacro %}
