{% macro cmakefrag(session, file, segment=False) %}
``` CMake
{% if segment and file != '' %}
{{d['session'+session+'/cpp/'+file+'/CMakeLists.txt|idio|t'][segment]}}
{% elif segment and file == '' %}
{{d['session'+session+'/cpp/CMakeLists.txt|idio|t'][segment]}}
{% elif (not segment) and file == '' %}
{{d['session'+session+'/cpp/CMakeLists.txt|idio|t']}}
{% else %}
{{d['session'+session+'/cpp/'+file+'/CMakeLists.txt|idio|t']}}
{% endif %}
```
{% endmacro %}
