/* 
* Pattern name: Blocked link
* Use: Highlighting links with a background colour and padding
* Note: N/A
-------------------------------------------------------------- */

.blocked-link {
	padding: 5px;
	color: $white;
	text-decoration: none;
	background-color: #B5BD00;
	@include rem(font-size, $font-size-sm);
	@include on-interaction {
		color: $white;
		background: #8f993e;
		text-decoration: none;
	}
}