/* 
* Pattern name: Breadcrumbs
* Use: For highlighting where a user is within the site. Doubles up as a navigation
* Note: On mobile the user will only ever see the last 3 items in the breadcrumb trail
-------------------------------------------------------------- */

.breadcrumb {
	display: block;
	overflow: hidden;
	margin-bottom: 0;
	list-style: none;
	border:0;
	padding-bottom: 0;
	background: white;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #ccc;
	margin-bottom: 1.5em;
}

.breadcrumb--nav {
	margin-bottom: 0;
	border-bottom: 0;
	@include alignment;
	.breadcrumb__list {
		line-height: 4;
	}
}

.breadcrumb__list {
	margin-bottom: 0;	
	vertical-align: top;
	@include list-unstyled;
	@include inline-block;
}	

.breadcrumb__item {
	margin: 0;
	float: left;
	text-transform: none;
	@include rem(font-size, $font-size-sm);
	&:after {
                font-family: $font-breadcrumbs;
		font-size: 0.8em;
		content: "\f102";
		display: inline-block;
		color: #034da1;
		transform: rotate(90deg);
		margin: 0 0.75em;
		position: relative;
		top: 1px; 
	}

	&:last-child:after {
		content: " ";
		margin: 0; 
	}
}

.breadcrumb__item--current {
	> a {
		text-decoration: none;
		cursor: default;
		color: #333333;
	}
}
