/* 
* Pattern name: Collapse
* Use: Collapsing and revealing mechanism for long form content
* Note: Only applicable for smaller viewports - triggered via JavaScript
-------------------------------------------------------------- */

.collapse {}

.collapse__header {
	clear:both;
	@include respond-max($screen-md - 1px) {
		cursor: pointer;
		border-bottom: 1px solid #ccc;
		padding-bottom: 8px;
	}
}

.collapse__content {
	@include respond-max($screen-md - 1px) {
		display: none;
		border-top: 0;
	}
	/* ensure accordion nav is hidden and content is visible on desktop version */
	/* @include respond-min($screen-md) {
		display: block !important;
	} */
}

.collapse__header--active {
	@include respond-max($screen-md) {
		background: url(#{$static-url}/images/close.png);
		background-repeat: no-repeat;
		background-position: right 50%;
		padding-right: 20px;
		border-bottom: none;
		@include on-interaction {
			background: url(#{$static-url}/images/close.png);
			background-repeat: no-repeat;
			background-position: right 50%;
		}
	}
}

.collapse__header--inactive { 
	@include respond-max($screen-md) {
		// background: url(#{$static-url}/images/open.png);
		background-repeat: no-repeat;
		background-position: right 50%;
		padding-right: 20px;
		@include on-interaction {
			// background: url(#{$static-url}/images/open.png);
			background-repeat: no-repeat;
			background-position: right 50%;
		}
	}
}