/* 
* Pattern name: Tag
* Use: Small block of overlayed text over an image
* Note: Modifiers adjust positioning of tag (default: left)
-------------------------------------------------------------- */

.btn.cta {
	background-color: $cta-blue; 
	text-align:center;
	font-weight:bold;
	font-size:1.2em;
	border:none;
	border-radius: 0;
	box-sizing: border-box;
	&:hover {
		background-color: $cta-navy;
	}
}

.btn.cta {
	width:100%;
}
@mixin minBttnMobileWidth{
	@include gs-media(m){
		min-width: 330px;
	}
}
.btn.cta-half {
	width:50%;
	@include minBttnMobileWidth;
}

.btn.cta-threequarters {
	width:75%;
	@include minBttnMobileWidth;
}

.btn.cta-third {
	width: 33%;
	@include minBttnMobileWidth;
}

.btn.cta-quarter {
	width:25%;
	@include minBttnMobileWidth;
}

.btn.cta-sixth {
	width:16%;
	@include minBttnMobileWidth;
}
