/* 
* Pattern name: Menu Block
* Use: Success, notice and error boxes
* Note: Modifiers alter border and text colours to indicate the current state
-------------------------------------------------------------- */


.message {
	background: none repeat scroll 0 0 #FFFFFF;
	background-position: 10px center;
	background-repeat: no-repeat;
	text-decoration: none;
	border: 1px solid #DDDDDD;
	clear: left;
	color: #666666;
	display: block;
	font-size: 16px;
	font-weight: 700;
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 1em;
	@include gs-pad(dl, padinfull);
	@include guttering;
}

.message--success {
	background-color: #F7FFF2;
	background-image: url("#{$static-url}/images/success.png");
	color: #7FB861;
	border: 1px solid #7FB861;
}

.message--warning {
	background-image: url("#{$static-url}/images/alert.png");
	color: #DD6868;
	border: 1px solid #DD6868;
	font-weight: bold;
}