/*** CAROUSEL ***/

.owl-theme .owl-controls {
				margin-top: 10px;
				text-align:center ;
				-webkit-tap-highlight-color:transparent;
}
.owl-theme .owl-controls .owl-nav [class*=owl-] {
				color:#fff;
				font-size:14px;
				margin:5px;
				padding:4px 7px;
				background: $brightblue;
				display:inline-block;
				cursor:pointer;
				border-radius:3px;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
				background: transparentize($brightblue, .3);
				color: #fff;
				text-decoration: none ;
}
.owl-theme .owl-controls .owl-nav .disabled {
				opacity:.5;
				cursor:default;
}
.owl-theme .owl-dots .owl-dot {
				display:inline-block;
				zoom:1;
				*display:inline;
}
.owl-theme .owl-dots .owl-dot span {
				width:10px;
				height:10px;
				margin:5px 7px;
				background: $brightblue;
				display:block;
				-webkit-backface-visibility:visible;
				transition:opacity 200ms ease;
				border-radius:30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
				background: transparentize($brightblue, .5);
}
 
 
.owl-carousel .animated {
	animation-duration: 1000ms;
	animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
	z-index: 0;
}
.owl-carousel .owl-animated-out {
	z-index: 1;
}
.owl-carousel .fadeOut {
	animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
	0% {
	opacity: 1;
}
100% {
	opacity: 0;
}
}@keyframes fadeOut {
	0% {
	opacity: 1;
}
100% {
	opacity: 0;
}
}
.owl-height {
	transition: height 500ms ease-in-out;
}
.owl-carousel {
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;
}
.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	-webkit-transform: translate3d(0px, 0, 0);
}
.owl-carousel .owl-controls .owl-dot, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-nav .owl-prev {
	cursor: pointer;
	cursor: hand;
	user-select: none;
}
.owl-carousel.owl-loaded {
	display: block;
}
.owl-carousel.owl-loading {
	opacity: 0;
	display: block;
}
.owl-carousel.owl-hidden {
	opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
	display: none;
}
.owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}
.owl-carousel .owl-item img {
	display: block;
	width: 100%;
	-webkit-transform-style: preserve-3d;
	margin-bottom: 0;
}
.owl-carousel.owl-text-select-on .owl-item {
	user-select: auto;
}
.owl-carousel .owl-grab {
	cursor: move;
	cursor: -webkit-grab;
   cursor: -o-grab;
	cursor: -ms-grab;
	cursor: grab;
}
.owl-carousel.owl-rtl {
	direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
	float: right;
}
.no-js .owl-carousel {
	display: block;
}
.owl-carousel .owl-item .owl-lazy {
	opacity: 0;
	transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
	transform-style: preserve-3d;
}
.owl-carousel .owl-video-wrapper {
	position: relative;
	height: 100%;
	background: #000;
}
.owl-carousel .owl-video-play-icon {
	position: absolute;
	height: 80px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	background: url(owl.video.play.png) no-repeat;
	cursor: pointer;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
	transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
	display: none;
}
.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
	position: relative;
	z-index: 1;
}
 
.owl-carousel__item {
	position: relative;
	margin: 1px;
	padding: 1px;
	figcaption {
		position: absolute;
		bottom: 1px;
		left: 1px;
		background-color: #222;
		opacity:0.7;
		padding:10px;
		h2 {
				color:white;
				font-weight:500;
				border-bottom:none !important;
				margin:0.3em 0 0 !important;
		}
		p
		{
				color:#fff;
		}
		a{
				font-weight: bold;
				color:#fff;
				text-decoration:underline;
		}
	}
}
 

.owl-nav {display:none;}

@media only screen and (max-width: 767px) {
	.owl-carousel__item figcaption {
		position:inherit;   
		bottom:0;
		left:0;
		opacity:1;
		background-color: #555;
	}
	#main .owl-carousel__item figcaption h2 {
	 font-size:1.25em;   
	}
}

/*** END CAROUSEL ***/